/*
========================
Layout-Grid
========================
*/

.wrapper {
	clear: both;
	width: 100%;
	overflow: hidden;
}

.row {
	clear: both;
	width: 100%;
	overflow: hidden;
}

.two-block {
	@include span(100%);

	@include bp(mup) {
		@include span(50%);
	}
}

.three-block {
	@include span(100%);

	@include bp(mup) {
		@include span(33.33%);
	}
}

.four-block {
	@include span(100%);

	@include bp(m) {
		@include span(50%);
	}

	@include bp(l) {
		@include span(25%);
	}
}

.five-block {
	@include span(100%);

	@include bp(m) {
		@include span(50%);
	}

	@include bp(l) {
		@include span(20%)
	}
}

.flex-row {
	clear: both;
	width: 100%;
	overflow: hidden;
	display: flex;

	@include bp(s) {
		flex-direction: column;
	}
}

.flex-top {
	align-items: flex-start;
}

.flex-center {
	align-items: center;
}

.flex-bottom {
	align-items: flex-end;
}








